.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}

.cart {
  margin: 30px 0px;
}

.cart h1 {
  text-align: center;
}
.cart p {
  text-align: right;
  margin-right: 14px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
